Repository Deityhub/resume-builder, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, tests, ci/cd, components, store, types, styles, config

add CI and PR checks badges to readme
  .github/BRANCH_PROTECTION.md
  README.md
Labels: documentation, ci/cd

add more properties to text element
  src/lib/const/font.ts
  src/lib/types/resume.ts
  src/lib/utils/properties.ts
  src/routes/create/(components)/PropertyPanel.svelte
  src/routes/create/(components)/ResumeElement.svelte
Labels: types

extend shape element properties
  src/lib/const/shape.ts
  src/lib/types/resume.ts
  src/lib/utils/properties.ts
  src/routes/create/(components)/PropertyPanel.svelte
  src/routes/create/(components)/ResumeElement.svelte
  src/routes/create/(components)/Toolbar.svelte
Labels: types

refactor image element integration + adjust border radius to percentage
  src/lib/const/image.ts
  src/lib/types/resume.ts
  src/lib/utils/properties.ts
  src/routes/create/(components)/PropertyPanel.svelte
  src/routes/create/(components)/ResumeElement.svelte
Labels: types

ensure near realtime update when interacting with range slider and also with color picker
  src/routes/create/(components)/PropertyPanel.svelte
Labels: none

fix issue with disappearing element on then canvas when dragged around
  src/lib/stores/appStore.svelte.ts
Labels: store

fix issue with shape being cut off at the edges
  src/lib/stores/appStore.svelte.ts
  src/routes/create/(components)/ResumeCanvas.svelte
  src/routes/create/(components)/ResumeElement.svelte
Labels: store

remove star shape
  src/lib/const/shape.ts
  src/lib/types/resume.ts
  src/routes/create/(components)/ResumeElement.svelte
Labels: types

revert the original default start and end boundaries
  src/lib/stores/appStore.svelte.ts
Labels: store

fix: improved drag and drop feature and more optimized
  src/lib/stores/appStore.svelte.ts
  src/routes/create/(components)/ResumeCanvas.svelte
  src/routes/create/(components)/ResumeElement.svelte
Labels: store

fix bug with misplacing coordinate when dropping element on another element from the toolbar to the canvas
  src/routes/create/+page.svelte
Labels: none

fix test
  e2e/demo.test.ts
  src/lib/stores/appStore.spec.ts
  src/lib/stores/appStore.svelte.ts
Labels: tests, store

chore: hide or show the boundary indicator
  src/routes/create/(components)/ResumeCanvas.svelte
Labels: none

chore: hide or show the property panel + add some sliding animation to it
  src/routes/create/(components)/PropertyPanel.svelte
Labels: none

feat: integrate export to pdf feature
  .vscode/settings.json
  package.json
  src/lib/components/Button.svelte
  src/lib/const/dimension.ts
  src/lib/utils/canvasRenderer.ts
  src/lib/utils/index.ts
  src/routes/create/(components)/ExportModal.svelte
  src/routes/create/(components)/ResumeCanvas.svelte
  src/routes/create/+page.svelte
  yarn.lock
Labels: dependencies, components

fix bug with input being disabled on the element level
  src/routes/create/(components)/ResumeCanvas.svelte
Labels: none

improve the styling for resize handles
  src/routes/create/(components)/ResumeElement.svelte
Labels: none

Adjust e2e test
  e2e/demo.test.ts
Labels: tests

Export to PDF Feature (#6)
  .vscode/settings.json
  e2e/demo.test.ts
  package.json
  src/lib/components/Button.svelte
  src/lib/const/dimension.ts
  src/lib/utils/canvasRenderer.ts
  src/lib/utils/index.ts
  src/routes/create/(components)/ExportModal.svelte
  src/routes/create/(components)/PropertyPanel.svelte
  src/routes/create/(components)/ResumeCanvas.svelte
  src/routes/create/(components)/ResumeElement.svelte
  src/routes/create/+page.svelte
  yarn.lock
Labels: dependencies, tests, components

Add jsdoc comments + cleanup
  src/lib/utils/canvasRenderer.ts
  src/lib/utils/index.ts
  src/lib/utils/properties.ts
  src/routes/create/(components)/ResumeCanvas.svelte
Labels: none

fix bug with deleting a child element
  src/lib/stores/appStore.svelte.ts
Labels: store

add crawl delay to robots
  static/robots.txt
Labels: none

feat: setup modal component
  src/lib/components/Modal.svelte
  src/lib/components/index.ts
Labels: components

chore: integrate modal component to the export flow
  src/routes/create/(components)/ExportModal.svelte
Labels: none

fix disabled button state
  src/lib/components/Button.svelte
Labels: components

feat: add text alignment
  src/lib/const/font.ts
  src/lib/types/resume.ts
  src/lib/utils/canvasRenderer.ts
  src/routes/create/(components)/PropertyPanel.svelte
  src/routes/create/(components)/ResumeElement.svelte
Labels: types

remove unnecessary option
  src/lib/const/font.ts
Labels: none

fix: use the right arrow down or arrow up polygon
  src/routes/create/(components)/ResumeElement.svelte
Labels: none

fix: dirty hack to fix issue with lines (vertical/horizontal) shrinking with resizing
  src/lib/utils/canvasRenderer.ts
  src/routes/create/(components)/ResumeElement.svelte
Labels: none

fix: ensure hexagon fills available space, and doesn't shrink unnecessarily
  src/lib/utils/canvasRenderer.ts
  src/routes/create/(components)/ResumeElement.svelte
Labels: none

chore: restructure data structure for storing and accessing elements on a page
  src/lib/stores/appStore.svelte.ts
  src/lib/types/resume.ts
  src/lib/utils/canvasRenderer.ts
  src/lib/utils/index.ts
  src/lib/utils/properties.ts
  src/routes/create/(components)/ResumeCanvas.svelte
  src/routes/create/+page.svelte
Labels: store, types

chore: remove unnecessary zIndex update of element on click
  src/routes/create/(components)/ResumeCanvas.svelte
Labels: none

fix width shrinking issue with rectangle shape type on resize
  src/routes/create/(components)/ResumeElement.svelte
Labels: none

fix unit test to match the update data structure
  src/lib/stores/appStore.spec.ts
Labels: tests, store

unit vite test for entry page
  src/routes/create/(components)/ResumeElement.svelte
  src/routes/page.svelte.spec.ts
Labels: tests

fix viewbox and line-vertical properties to match what we get during edit
  src/lib/utils/canvasRenderer.ts
Labels: none

refactor canvas ref to use reactive rune
  src/lib/types/resume.ts
  src/routes/create/(components)/ResumeCanvas.svelte
  src/routes/create/+page.svelte
Labels: types

feat: integrate better canvas conversion and pdf generation
  eslint.config.js
  package.json
  src/lib/utils/canvasRenderer.ts
  src/routes/create/(components)/ExportModal.svelte
  yarn.lock
Labels: dependencies, config

fix shape element dimension and shapes
  src/lib/utils/canvasRenderer.ts
  src/routes/create/(components)/ResumeElement.svelte
Labels: none

Canvas Improvements and PDF Export Fix (#8)
  eslint.config.js
  package.json
  src/lib/stores/appStore.spec.ts
  src/lib/stores/appStore.svelte.ts
  src/lib/types/resume.ts
  src/lib/utils/canvasRenderer.ts
  src/lib/utils/index.ts
  src/lib/utils/properties.ts
  src/routes/create/(components)/ExportModal.svelte
  src/routes/create/(components)/ResumeCanvas.svelte
  src/routes/create/(components)/ResumeElement.svelte
  src/routes/create/+page.svelte
  src/routes/page.svelte.spec.ts
  yarn.lock
Labels: dependencies, tests, store, types, config

.github/labeler.yml:

# Automatically label PRs based on changed files

'documentation':
  - '**/*.md'
  - 'docs/**/*'

'dependencies':
  - 'package.json'
  - 'yarn.lock'

'tests':
  - '**/*.spec.ts'
  - '**/*.test.ts'
  - 'e2e/**/*'
  - 'tests/**/*'

'ci/cd':
  - '.github/**/*'

'components':
  - 'src/lib/components/**/*'
  - 'src/routes/**/components/**/*'

'store':
  - 'src/lib/stores/**/*'

'types':
  - 'src/lib/types/**/*'

'styles':
  - '**/*.css'
  - 'tailwind.config.*'

'config':
  - '*.config.*'
  - '.eslintrc.*'
  - '.prettierrc.*'
  - 'tsconfig.json'
