Repository Deityhub/resume-builder, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, tests, ci/cd, components, store, types, styles, config

chore: improve button sizing properties
  src/lib/components/Button.svelte
Labels: components

feat: add a way for control z-index of elements
  src/lib/stores/appStore.svelte.ts
  src/routes/create/(components)/PropertyPanel.svelte
  src/routes/create/(components)/ResumeElement.svelte
Labels: store

Element Layering Feature (#9)
  src/lib/components/Button.svelte
  src/lib/stores/appStore.svelte.ts
  src/routes/create/(components)/PropertyPanel.svelte
  src/routes/create/(components)/ResumeElement.svelte
Labels: components, store

feat: setup indexedDB wrapper utils to handle data storage on the browser
  src/lib/utils/idb.ts
Labels: none

chore: refactor data structure to handle resume storage and retrieval + clean the methods
  src/lib/stores/appStore.svelte.ts
  src/lib/types/resume.ts
Labels: store, types

feat: setup page to list stored resume
  src/routes/saved/+page.svelte
Labels: none

feat: integrate resume storage and edit
  src/lib/components/ResumeNameModal.svelte
  src/routes/create/(components)/ExportModal.svelte
  src/routes/create/+page.svelte
Labels: components

chore: add connected navigations within the product
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/create/+page.svelte
  src/routes/saved/+page.svelte
Labels: none

chore: fix test
  package.json
  src/routes/page.svelte.spec.ts
Labels: dependencies, tests

Resume Storage and Edit Feature (#10)
  package.json
  src/lib/components/ResumeNameModal.svelte
  src/lib/stores/appStore.svelte.ts
  src/lib/types/resume.ts
  src/lib/utils/idb.ts
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/create/(components)/ExportModal.svelte
  src/routes/create/+page.svelte
  src/routes/page.svelte.spec.ts
  src/routes/saved/+page.svelte
Labels: dependencies, tests, components, store, types

.github/labeler.yml:

# Automatically label PRs based on changed files

'documentation':
  - '**/*.md'
  - 'docs/**/*'

'dependencies':
  - 'package.json'
  - 'yarn.lock'

'tests':
  - '**/*.spec.ts'
  - '**/*.test.ts'
  - 'e2e/**/*'
  - 'tests/**/*'

'ci/cd':
  - '.github/**/*'

'components':
  - 'src/lib/components/**/*'
  - 'src/routes/**/components/**/*'

'store':
  - 'src/lib/stores/**/*'

'types':
  - 'src/lib/types/**/*'

'styles':
  - '**/*.css'
  - 'tailwind.config.*'

'config':
  - '*.config.*'
  - '.eslintrc.*'
  - '.prettierrc.*'
  - 'tsconfig.json'
